h1 {
    font-size: 40pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #D6D85D;
    color: #F68537;
    width: 100%;
    margin: 0;
    padding: 15px 0px;
    position: sticky;
    top: 0;
    z-index: 100;
}

h2 {
    font-size: 30pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #F68537;
    color: #D6D85D;
    width: 100%;
    margin: 0;
    padding: 7px 0px;
}

h3 {
    font-size: 30pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #D6D85D;
    color: #F68537;
    padding: 40px 0px;
    margin: 70px 0px 0px 0px;
}

p {
    font-size: 15pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    background-color: #EAD8A4;
    color: #F68537;
    margin: 0 auto;
    text-align: center;
    padding: 7px 0;
    width: 100%;
}

.cajaong p {
    width: auto;                
    margin: 5px 0;              
    font-size: 14pt;
    color: #F68537;
    background-color: #D6D85D;
}

.cajaong:hover p{
    background-color: #F68537;
    color: #ECEDB0;
    transition: 0.8s;
}

body {
    background-color: #ECEDB0;
    text-align: center;
    margin: 0;
}

.cajacontenedora {
    padding: 20px;
    width: 90%;
    background-color: #D6D85D;
    margin: 50px auto;
    display: grid;
    gap: 7px;
    grid-template-columns: repeat(5, 1fr);
    max-width: 1200px;
}

.cajaong {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7);
    min-width: 90px;
    flex-wrap: wrap;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cajaong:hover{
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.35);   
}

.cajaong img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.cajaong img:hover{
    transform: scale(1.3);
}

.cajaong img:active{
    transform: scale(1);
    filter: invert(1); 
}

#cajainfo{
    background-color: #D6D85D;
    width: 80%;
    max-width: 800px;
    margin: 30px auto;
    height: auto;
    min-height: 100px;
    text-align: center;
    padding: 30px;
}

#resumen{
    background: #F68537;
    color: #D6D85D;
    font-weight: 700;
    text-align: left;
    margin: 20px auto 0;
    width: 90%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.oculto{
    display: none;
}

button{
    margin: 0px auto;
    padding: 10px 20px;
    font-size: 16pt;
    background-color: #F68537;
    color: #D6D85D;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #D6D85D;
    color: #F68537;
    transform: scale(1.05);
}

@media (max-width: 1000px) {
  .cajacontenedora {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .cajacontenedora {
    grid-template-columns: repeat(2, 1fr);
  }
}