body {
    background-color: #ECEDB0;
    margin: 0;
    text-align: center;
    padding-bottom: 40px;
}

h1 {
    font-size: 34pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #D6D85D;
    color: #F68537;
    width: 100%;
    margin: 0;
    padding: 8px 0;
}

h2 {
    font-size: 24pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #F68537;
    color: #D6D85D;
    width: 100%;
    margin: 0;
    padding: 5px 0;
}

h3 {
    font-size: 18pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #D6D85D;
    color: #F68537;
    padding: 14px 0;
    margin: 18px 0;
}

p {
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #EAD8A4;
    color: #F68537;
    margin: 0 auto;
    text-align: center;
    padding: 5px 0;
    width: 100%;
}

.contenedor-principal {
    display: grid;
    grid-template-columns: 70% 25%;
    grid-template-rows: auto auto;
    gap: 3%;
    width: 90%;
    max-width: 1900px;
    margin: 30px auto;
}

.cajacontenedora {
    grid-column: 1;
    padding: 20px;
    background-color: #D6D85D;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    overflow-y: auto;
    border-radius: 8px;
}

.cajaong {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 10px;
    font-weight: bolder;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    max-height: 190px;
}

.cajaong img {
    width: 100%;
    height: 100px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.cajaong img:hover {
    transform: scale(1.1);
}

.cajaong p {
    background-color: #D6D85D;
    color: #F68537;
    margin: 5px 0;
    font-size: 13pt;
}

.cajaong input[type="number"] {
    width: 60%;
    padding: 4px;
    margin-top: 5px;
    border: 2px solid #F68537;
    border-radius: 5px;
    text-align: center;
    color: #F68537;
}

#cajainfo {
    grid-column: 2;
    background-color: #D6D85D;
    padding: 30px 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 60vh;
}

#resumen {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #F68537;
    color: #D6D85D;
    font-size: 14pt;
    font-weight: bold;
    text-align: left;
    margin: 20px auto 0;
    width: 80%;
    padding: 20px;
    border-radius: 6px;
    overflow-y: auto;
    flex-grow: 1;
}


.formulario-donante {
    grid-column: 1 / span 2;
    width: 80%;
    margin: 20px auto 0;
    background-color: #D6D85D;
    padding: 20px;
    border-radius: 12px;
    box-sizing: border-box;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    align-items: end;
}

.form-grid label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 20pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.form-grid input {
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    color: #333;
}

.form-grid .radios {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#caja-codigo input {
    width: 70%;
}

.botones {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.botones button {
    width: 45%;
    padding: 12px;
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #F68537;
    color: white;
    transition: 0.2s;
}

.botones button:hover {
    background-color: #EAD8A4;
    color: black;
}

label.error-label {
    color: red !important;
}

.oculto {
    display: none;
}

.linea-opcion {
    display: flex;
    flex-direction: column;
}

.opciones-inline {
    display: flex;
    gap: 25px;
    align-items: center;
}

.opcion-radio {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14pt;
    color: white;
}

.opcion-radio input[type="radio"] {
    width: 22px;
    height: 22px;
    accent-color: #F68537;
    cursor: pointer;
}

@media(max-width:1000px) {
    .contenedor-principal {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
    #cajainfo {
        grid-column: 1;
        width: 100%;
    }
    .formulario-donante {
        width: 90%;
        grid-column: 1;
    }
}

@media(max-width:600px) {
    .cajacontenedora {
        grid-template-columns: repeat(2,1fr);
    }
    .form-grid {
        grid-template-columns: 1fr;
    }
}
